SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin

DB_HOST=postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=netbox

REDIS_HOST=redis
REDIS_CACHE_HOST=redis

SECRET_KEY=change-me-to-a-random-50-plus-character-string-before-using-this

LENS_NETDISCO_TOKEN=your-token-here
